@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600');

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/*********************
0. Style Changer Variables
*********************/

:root {
	--baseColor: #1F4E5F;
	--brandColor: #044f6b;
	--brandColor2: #0cef89;
	--bgColor: white;
	--bgColorAlt: #f5f9fc;
	--shadowColor: #dce5ec;
}
:root.light {
	--baseColor: #1F4E5F;
	--brandColor: #044f6b;
	--brandColor2: #0cef89;
	--bgColor: white;
	--bgColorAlt: #f5f9fc;
	--shadowColor: #dce5ec;
}
:root.dark {
	--baseColor: #8a8a8a;
	--brandColor: #099cec;
	--brandColor2: #448435;
	--bgColor: #444444;
	--bgColorAlt: #525252;
	--shadowColor: #263235;
} 

html,
body {
	background-color: #eee;
	background-color: var(--bgColor);
	color: #111;
	color: var(--baseColor);
	font-family: 'Fira Sans', sans-serif;
	line-height: 1.6;
}

* {
	box-sizing: border-box;
}

/*********************
1. Helper Classes
*********************/

.hidden {
	display: none;
}

.icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-bottom: -.1em;
}

.icon.icon-medium {
	width: 1.5rem;
	height: 1.5rem;
}

.icon.icon-large {
	width: 2.5rem;
	height: 2.5rem;
}

.icon-label {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .125em .25em;
}

.inline-radio {
	display: flex;
}

.inline-radio .item {
	margin-right: -1px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--brandColor);
}

.inline-radio .item:first-of-type {
	border-radius: 5px 0 0 5px;
}

.inline-radio .item:last-of-type {
	margin-right: 0;
	border-radius: 0 5px 5px 0;
}

.inline-radio input[type="radio"] {
	display: none;
}

.inline-radio input ~ label {
	opacity: .3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inline-radio input[type="radio"] ~ label span {
	padding: .2em .75em 0 .75em;
	font-weight: 400;
}

.inline-radio input[type="radio"]:checked ~ label {
	background-color: var(--brandColor);
	color: var(--bgColor);
	opacity: 1;
}

.inline-radio.rating {
	flex-direction: row-reverse;
	justify-content: flex-end;
	position: relative;
}

.inline-radio.rating input[type="radio"]:checked > label:hover,
.inline-radio.rating input[type="radio"]:checked > label:hover ~ label,
.inline-radio.rating input:checked ~ label {
	background-color: transparent;
	color: gold;
	opacity: 1;
}

.inline-radio.rating(:checked) > label:hover,
.inline-radio.rating(:checked) > label:hover ~ label {
	opacity: .7;
}

.inline-radio.rating .dynamic-label {
	position: absolute;
	right: 0;
	visibility: hidden;
	opacity: 0;
	transition: all .15s ease-in-out;
	z-index: 0;

}

.inline-radio.rating input:checked + label .dynamic-label {
	visibility: visible;
	opacity: 1;
	transition: all .15s ease-in-out;
	z-index: 1;
	font-weight: 700;
	font-size: 1rem;
}

a {
	color: var(--brandColor);
	opacity: 1;
	transition: opacity .15s ease-in-out;
}

a:hover, a:focus {
	opacity: .5;
	transition: opacity .15s ease-in-out;
}

h1 {
	font-weight: normal;
	color: green;
	color: var(--baseColor);
}

/*********************
2. Layout
*********************/

.set-layout	{
	width: 100%;
	margin: 0 auto;
	padding-left: .75rem;
	padding-right: .75rem; 
}

@media (min-width: 55rem) {
  .set-layout	{
  	width: 55rem;
  	margin: 0 auto;
  	padding-left: 0;
  	padding-right: 0; 
  }
}

/* sticky footer */
.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site .main-content {
	flex: 1;
}

/*********************
2.1 Header Layout
*********************/

.site-header {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-header .logo {
	transition: opacity .25s ease-in-out;
}

.logo:hover, .logo:focus {
	opacity: .5;
	transition: opacity .25s ease-in-out;
}

.logo .icon {
	width: 7rem;
	height: 3rem;
	fill: var(--brandColor);
	stroke: var(--brandColor);

}

/*********************
2.2 Theme Changer Adjustments
*********************/


.dark .theme-changer .item:first-of-type label {
	opacity: 1;
	color: white;
}

.light .theme-changer .item:last-of-type label {
	opacity: 1;
	color: black;
}

/*********************
2.2 Main Layout
*********************/

.main-content {	
	padding: 2rem 0;
	background-color: var(--bgColorAlt);
	box-shadow: 0px 5px 10px 0 rgba(2,7,13,0.1);
}

/*********************
2.3 Footer Layout
*********************/

.site-footer {
	background-color: var(--brandColor);
	color: var(--bgColor);
	padding: .75rem 1rem;
}

@media (min-width: 55rem) {
	.site-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.site-footer p {
	margin: 0; 
	font-size: .75rem;
	font-weight: 300;
}

/*********************
3. Form Styles
*********************/

.form-fields {
	padding: .25rem 0;
}

.form-field {
	padding: .5rem 1rem;
}

@media (min-width: 55rem) {
	
	.form-fields {
		padding: 1rem 0;
		display: flex;
	}
	
	.form-field {
		flex: 1;
		padding: 0 1rem;
	}
}

.form-field input[type=text],
.form-field input[type=number],
.form-field input[type=date],
.form-field textarea {
	width: 100%;
	margin: 0;
	outline: 0;
	-webkit-appearance: none;
	tap-highlight-color: rgba(255,255,255,0);
	line-height: 1.21428571em;
	padding: .67857143em 1em;
	font-size: 1em;
	background: #fff;
	border: 1px solid rgba(34,36,38,.15);
	color: rgba(0,0,0,.87);
	border-radius: 3px;
	box-shadow: 0 0 0 0 transparent inset;
	transition: color .1s ease,border-color .1s ease;
}

.form-field input[type=text]:focus:invalid,
.form-field input[type=number]:focus:invalid,
.form-field input[type=date]:focus:invalid,
.form-field textarea:focus:invalid {
  border: 1px solid red;
}

::-webkit-input-placeholder { /* Chrome */
  color: rgba(0,0,0,.3);
}

label {
	font-size: .75rem;
	font-weight: 600;
	cursor: pointer;
	text-transform: uppercase;
}

.form label {
	margin-bottom: .125em;
}

.form .form-title {
	margin-bottom: 0;
}

.button {
	cursor: pointer;
	display: inline-block;
	min-height: 1em;
	outline: 0;
	border: none;
	vertical-align: baseline;
	background-color: var(--brandColor);
	color: var(--bgColor);
	margin: 0 .25em 0 0;
	padding: .75em 1.5em .7em;
	text-transform: uppercase;
	text-shadow: none;
	font-weight: 400;
	line-height: 1em;
	font-style: normal;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: background .1s ease-in-out;
	will-change: '';
	-webkit-tap-highlight-color: transparent;
}

.button:hover,
.button:focus {
	transition: background .15s ease-in-out;
	background-color: var(--brandColor2);
	color: var(--brandColor);
}

.button:disabled,
.button:disabled:hover,
.button:disabled:focus {
	cursor: not-allowed;
	background-color: rgba(0,0,0,.2);
	color: rgba(255,255,255,.8);
}

.subheader {
	margin-top: -1.5rem;
}

.abort {
	text-decoration: none;
	padding: 0 1rem;
	text-transform: uppercase;
}



.loading:after {
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8) url('/images/loading.svg') no-repeat center center;
	z-index: 100;
}

/*********************
4. List
*********************/

.entries-list {
	margin: 1rem 0 2rem;
}

.list-item {
	display: flex;
	justify-content: center;
	align-items: stretch;
	min-height: 5rem;
	padding: 0;
	margin: 1rem 0;
	border-radius: 10px;
	background-color: rgba( 255, 255, 255, .8 );
	box-shadow: 0 5px 26px -2px var(--shadowColor);
}

.list-item.is-done {
	background-color: rgba( 255, 255, 255, .2 );
	box-shadow: 0 0 10px -2px var(--shadowColor);
}

.list-item.is-done .list-title {
	opacity: .5;
}

.list-item.is-done .time strong {
	text-decoration: line-through;
	opacity: .5 !important;
}



.list-item .status {
	padding: 1rem 2rem 1rem 2rem;
	align-content: stretch;
	align-self: center;

}

.list-item .details {
	padding: 1rem 1rem 1rem 0;
	width: 70%;
	display: flex;
	justify-content: center;
	flex-flow: column;
}

.list-item .details .list-title {
	margin: 0;
	justify-content: center;
}

.list-item .dates {
	font-weight: 400;
	font-size: .8rem;
	margin-bottom: .5em;
}

.list-item.is-done .dates .created-date {
	opacity: .3;
}

.dates .done-date {
	font-weight: 600;
}

.list-item .dates time {
	padding: 0 .5em 0 0;
}

.list-item .details .item-details {
	margin: 0;
	font-size: .75rem;
}

.list-item .due-date {
	border-left: 1px solid rgba(0,0,0,.1);
	display: flex;
	flex: 1 1 auto;
}

.list-item .due-date-label {
	font-size: .75rem;
	display: block;
}

.list-item .time,
.list-item .item-priority {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding-left: 1em;
	background-color: var(--bgColorAlt);
}

.list-item .time {
	font-size: .75rem;
	border-bottom: 1px solid rgba(0,0,0,.1);
	line-height: 1.4;
}

.list-item .due-date .rating .icon {
	color: gold;
	margin-left: -.5rem;
	margin-top: -.4rem;
}

.list-item .due-date,
.list-item .edit {
	display: flex;
	flex-direction: column;
}

.list-item .due-date .time,
.list-item .due-date .item-priority,
.list-item .edit .button {
	flex: 1;
}

.edit .button {
	border-radius: 0;
	margin: 0;
	padding: .5em .75em;
}

.edit .button:first-of-type {
	border-radius: 0 10px 0 0;
}
.edit .button:last-of-type {
	border-radius: 0  0 10px 0;
}

/*********************
4.1 Filter List
*********************/

.filter-list {
	font-size: .85rem;
	margin-top: 2rem;
	display: flex;
	justify-content: center;
}

.filter-list .list-count {
	flex: 1;
	padding-left: .5em;
}

.filter-list-title {
	opacity: .5;
}

.filter-list .filter-item, 
.filter-list > span {
	line-height: 2.2;
}

.filter-list .filter-item {
	padding: .2em .5em;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: var(--brandColor2);
	outline: 0;
	border: none;
	background-color: transparent;
	opacity: 1;
	font-weight: 600;
}

.filter-list .filter-item:hover{
	opacity: .5;
}
.filter-list input[type="radio"]:checked + label {
	color: var(--baseColor);
}


.show-done ~ .show-done-label {
	background-color: rgba(0,0,0,.2);
	color: rgba(255,255,255,.8);
}

.show-done:checked ~ .show-done-label {
	background-color: var(--brandColor2);
	color: var(--bgColorAlt);
}

.show-done-label:before {
	content: "Hide ";
}

.show-done:checked ~ .show-done-label:before {
	content: "Show ";
}

/*********************
4.2. Checkmark
*********************/
.status {
	cursor: pointer;
}

.checkmark {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: block;
  stroke-width: 4;
  stroke: #fff;
  cursor: pointer;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px 30px var(--shadowColor);
  transition: all .15s ease-in-out;
}

.status:hover .checkmark,
.status:focus .checkmark {
	opacity: .8;
	transition: all .15s ease-in-out;
}


.checkmark-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  
}

.checkmark-check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  
}

.is-done .checkmark {
	animation: fill .2s ease-in-out .2s forwards, scale .15s ease-in-out .45s both;
}

.is-done .checkmark-circle {
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.is-done .checkmark-check {
	animation: stroke 0.2s cubic-bezier(0.65, 0, 0.45, 1) 0.4s forwards;
}


/*********************
5. Keyframes
*********************/

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

